@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to Ecommerce Application</h1>
    <h1 class="display-4">
        <a class="btn btn-outline-primary mt-5" style="width:300px;" asp-controller="Product" asp-action="Index">Get Started Browsing Products!</a>
    </h1>
</div>

